#!name = Flarum 签到
#!desc = 每日签到 · 账号登录 · 多站点
#!author = 凉心
#!homepage = https://github.com/52Lxcloud/ScriptKit
#!category = 凉心Tools
#!date = 2026-06-26 14:58:14

# 点击计划任务,文本方式添加这行
# 10 8 * * * https://raw.githubusercontent.com/52Lxcloud/ScriptKit/main/Scripts/flarum.js, tag=Flarum 签到
