#!name=V2EX 签到
#!desc=每日领取铜币 · Cookie 自动抓取
#!author=凉心
#!homepage=https://github.com/52Lxcloud/Scripts-dev
#!date=2026-06-25 21:28:34

[task_local]
10 0 * * * https://raw.githubusercontent.com/52Lxcloud/ScriptKit/main/Scripts/v2ex.js, tag=V2EX 签到, enabled=true

[rewrite_local]
^https?:\/\/www\.v2ex\.com\/member\/.* url script-request-header https://raw.githubusercontent.com/52Lxcloud/ScriptKit/main/Scripts/v2ex.js

[mitm]
hostname = %APPEND% www.v2ex.com
